* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.container {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

button {
  width: 100px;
  height: 100px;
  transition: 0.3s;
}

button:active {
  transform: translate(0, 5px);
}

.logo {
  width: 20px;
  height: 20px;
}

.navbar {
  position: absolute;
  padding: 0 5% 0 5%;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home,
.about,
.homepage {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

a {
  margin: 0 10px 0 10px;
  color: white;
}
